#/**********************************************************************
#************** Author:   Christian KEMGANG NGUESSOP *******************
#************** Project:   shophair                  *******************
#************** Version:  1.0.0                      *******************
#***********************************************************************/

# Folders
.DS_Store
/backend
/frontend
