#/**********************************************************************
#************** Author:   Christian KEMGANG NGUESSOP *******************
#************** Project:   shophair                  *******************
#************** Version:  1.0.0                      *******************
#***********************************************************************/

# Environments
.vscode
.DS_Store
.venv

# Folders
/backend
/frontend
